:root {
    --feijoa: #a2d187;
    --riverbed: #404a59;
    --jaggedice: #cae9eb;
    --hopbush: #ce6897;
  }

.app {
    text-align: center;
}

.app-logo {
    height: 50vh;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 30s linear;
    }
}

.app-header {
    background: var(--jaggedice);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: var(--riverbed);
}

.app-link {
    color: var(--hopbush);
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}