:root {
    --feijoa: #a2d187;
    --riverbed: #404a59;
    --jaggedice: #cae9eb;
    --hopbush: #ce6897;
  }

.contact-me-card {
    background: var(--riverbed);
    width: 80%;
    box-shadow: 10px 10px 63px 4px var(--riverbed);
    margin-inline: auto;
  }
  
  .get-in-touch {
    color: var(--jaggedice);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }
  
  .input-groups {
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
  }
  .card-contact-right {
    background: var(--feijoa);
    box-shadow: 10px 3px 33px 4px var(--feijoa);
    border-radius: 20px;
    padding: 24px;
  }